.de{
  display: flex;
  color:#fff;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 5rem 2rem;
  h1{
    margin-bottom: 0.5rem;
    font-size:2rem
  }
}
p{
  margin: 2rem 0;
  font-size: 4rem;
  line-height: 1.1;
}
button{
  padding: 1rem 3rem;
  font-size: 1rem;
  border: 2px solid #fff;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  background: transparent;






  position: absolute;
  width: 100%;
  height: 100%;
  max-width: 250px;
  max-height: 250px;






  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  position: relative;
}